*{
  font-family: 'Poppins', sans-serif;
}

.maseit {
    max-height: 350px;
    min-height: auto;
    min-width: auto;
    max-width: auto;
    /* border-style: outset; */
    /* border-radius: 9px; */
  }
.cuac {
  float: right;
}

.marigen {
  margin-left: 200px;
  margin-right: 200px;
}

.disabled{
    color:#cecece;
}



.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

ul {
  list-style-type: none;
}

.tumneil {
  max-height:200px;
  float: left;
  margin-right: 20px;
}

.cartelito-pasresconf {
  font-size: 16px;
  text-align: center;
}



.list-group-item.left-side,
.list-group-item.right-side {
  float: left;
  width: 50%;
  border-bottom-width:0px;
  border-top-width: 0px;
}

.split-items .list-group-item.left-side{
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
}

.split-items .list-group-item.right-side{
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  border-left: 0;
}


.formalize-height {
  max-height: 10px;
  display: inline-block;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-outline-secondary:focus {
  outline: none;
  box-shadow: none;
}



/* sadadadasdasdadsadadadadadadadadasadasdsadadsadadadsadadadadadadadad */

/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}