*{
  font-family: 'Poppins', sans-serif;
}

.carr-img {
  /**
  * Clase para normalizar las imágenes del carrousell de bootstrap.
  */
    max-height: 350px;
    min-height: auto;
    min-width: auto;
    max-width: auto;
  }

.disabled{
    color:#cecece;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

ul {
  list-style-type: none;
}

.tumneil {
  /**
  * Estilo para la miniatura con el logo de la empresa de cabañas en el índice
  */
  max-height:200px;
  float: left;
  margin-right: 20px;
}

.cartelito-pasresconf {
  font-size: 16px;
  text-align: center;
}

.star-color {
  color: goldenrod;
}



.list-group-item.left-side,
.list-group-item.right-side {
  float: left;
  width: 50%;
  border-bottom-width:0px;
  border-top-width: 0px;
}

.split-items .list-group-item.left-side{
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
}

.split-items .list-group-item.right-side{
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  border-left: 0;
}


.formalize-height {
  max-height: 10px;
  display: inline-block;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-outline-secondary:focus {
  outline: none;
  box-shadow: none;
}

.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.buttons-right {
  display: flex;
}


/*CSS PARA LIGHT MODE APP*/
.button-light-mode {
  padding: 0.6rem 0.85rem;
  --tw-bg-opacity: 1;
  background-color: rgb(147, 51, 234);
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.svg-button-lightmode {
  color: white;
}


/*ESTILOS PARA CAMPO ERRONEO EN FORMULARIOS */
.campo-erroneo {
  border-color: #dc3545 !important;
  background-color: #d4646f35 !important;
}

.campo-correcto {
  border-color: #28a746de !important;
  background-color: #28a74622 !important;
}

form .form-outline .indicator {
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  transition: all 1s ease .5s;
}

form .form-outline .indicator div {
  width: 100%;
  height: 100%;
  background: lightgray;
  border-radius: 5px;
  position: relative;
}

form .form-outline .indicator :nth-child(2){
  margin: 0 3px;
}

form .form-outline .indicator div span{
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 5px;
  transition: all 0.5s ease 0s;
}

form .form-outline .indicator div span.active.debil{
  width: 100%;
  background-color: #ff4757;
}

form .form-outline .indicator div span.active.media{
  background-color: orange;
  width: 100%;
}

form .form-outline .indicator span.active.fuerte{
  background-color: #28a746de;
  width: 100%;
}


form .form-outline .text {
  font-weight: bold;
  margin-bottom: -10px;
  display: none;
}

form .form-outline .text.debil {
  color: #ff4757;
  font-size: 15px;
  margin-bottom: 0.1px;
}

form .form-outline .text.media {
  color: orange;
}

form .form-outline .text.fuerte {
  color: #28a746de;
}

form .field-password {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}


form .field-password .shwButton {
  width: 20px;
  height: 20px;
  display: none;
  position: absolute;
  margin-right: 5px;
  right: 10px;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
  background-image: url("https://i.postimg.cc/PxWD2X5K/mostrar-contrasena.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
}

