<!doctype html>
<html lang="en" meta="">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <title>Rentcab</title>
    <link rel="canonical"
          href="https://getbootstrap.com/docs/5.2/examples/navbars"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap"
          rel="stylesheet"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'inquilinos/css/stylesheet.css' %}"/>
    <link href="{% static 'inquilinos/css/bootstrap.min.css' %}"
          rel="stylesheet"/>
    <link href="{% static 'inquilinos/css/navbar.css' %}" rel="stylesheet"/>
    <link rel="shortcut icon"
          type="image/png"
          href="{% static 'inquilinos/images/favicon.ico' %}"/>
  </head>
  <body class="bg-light">
    <main>
      <nav class="navbar navbar-expand-xl fixed-top navbar-light border-bottom border-green">
        <div class="container-fluid">
          <button class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarsExample06"
                  aria-controls="navbarsExample06"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExample06">
            
              {% comment %} <form role="search">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              </form> {% endcomment %}
              <a class="navbar-brand" href="#">
                <img src="{% static 'inquilinos/images/logo2.png' %}"
                     alt=""
                     width="94"
                     height="24"/>
              </a>

              
              <ul class="navbar-nav mt-0 mb-0">
                  {% if user.is_authenticated %}
                    {% if user.huesped %}
                      <li class="nav-item pe-2">
                        <button class="btn btn-outline-primary active"
                                onclick="location.href='{% url 'inquilinos:huesped-detail' user.huesped.pk %}'"
                                type="button">
                          {{ user.huesped }}
                        </button>
                      </li>
                    {% elif user.is_staff %}
                    {% else %}
                      <li class="nav-item pe-2">
                        <button class="btn btn-outline-primary active"
                                onclick="location.href='{% url 'inquilinos:huesped-registro' %}'"
                                type="button">
                          @{{ user.username }}
                        </button>
                      </li>
                    {% endif %}
                  {% endif %}
                  {% if user.is_authenticated %}
                    {% if user.huesped %}
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">Reservas</a>
                        <ul class="dropdown-menu">
                          <li>
                            <a class="dropdown-item" href="{% url 'inquilinos:reserva-list' %}">Ver mis reservas</a>
                          </li>
                        </ul>
                      </li>
                    {% endif %}
                  {% endif %}
                </ul>
                <ul class="navbar-nav ms-auto mt-0 mb-0">
                  <div class="buttons-right">
                    <li class="nav-item pe-2">
                      <button class="btn btn-outline-success" type="button"
                        <button type="button" onclick="location.href='{% url 'inquilinos:index' %}'">
                          Inicio
                        </button>
                      </li>
                      <li class="nav-item pe-2">
                        {% if user.is_authenticated %}
                          <button class="btn btn-outline-secondary active"
                                  onclick="location.href='{% url 'logout' %}'"
                                  type="button">
                            Cerrar sesión
                          </button>
                        {% else %}
                          <button class="btn btn-success"
                                  onclick="location.href='{% url 'login' %}'"
                                  type="button">
                            Iniciar sesión
                          </button>
                        {% endif %}

                        <!-- PRUEBA DE BOTON DE MODO OSCURO -->
                        <!--
                        <button class="button-light-mode">
                          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="svg-button-lightmode" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path fill="none" d="M0 0h24v24H0V0z"></path>
                            <path d="M12.01 12c0-3.57 2.2-6.62 5.31-7.87.89-.36.75-1.69-.19-1.9-1.1-.24-2.27-.3-3.48-.14-4.51.6-8.12 4.31-8.59 8.83C4.44 16.93 9.13 22 15.01 22c.73 0 1.43-.08 2.12-.23.95-.21 1.1-1.53.2-1.9A8.46 8.46 0 0112.01 12z"></path>                          </svg>
                        </button>
                        -->
                    </li>
                  <div/>
                </ul>
            </div>
          </div>
        </nav>
      </main>
      <div class="mt-5">
        {% block content %}
        {% endblock content %}
      </div>
      <script src="{% static 'inquilinos/js/bootstrap.bundle.min.js' %}"></script>
    </body>
  </html>
