{% extends 'inquilinos/base.html' %} {% block content %} {% load static %} {%load bootstrap_icons %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="p-4 rounded mt-3">
          <img
            src="{% static 'inquilinos/images/lapraderalogo.jpg' %}"
            class="img-thumbnail tumneil"
            alt=""
          />
          <h1>La Pradera</h1>
          <p align="justify">
            "La Pradera" es un hermoso complejo de cabañas ubicado en "El Nono"
            que brinda servicios de alojamiento vacacional, para que pueda venir a 
            disfrutar en familia o con amigos. <br></br>
          </p>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <div class="card shadown-sm p-3 align-middle">
        <a
          class="btn btn-success" type="" 
          target="_blank"
          href="https://api.whatsapp.com/send?phone=543534237553&text="
        >
          {% bs_icon 'whatsapp' size='1em'%} Contacto
        </a>
        <p class="mt-2 mb-1 text-center">Horario de consulta:</p>
        <ul class="list-group">
          <li class="text-center list-group-item">
            Lunes a Viernes de 09:00 a 18:00
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="album py-4 bg-light">
  <div class="container">
    <h2 align="center">Nuestras cabañas</h2>
    <p align="justify">
      Disponemos de {{ cab_list.count }} excelentes cabañas equipadas
      completamente para seis personas. Las mismas cuentan con dos
      habitaciones, baño, antebaño y cocina comedor.
    </p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for cab in cab_list %}
      <div class="col">
        <div class="card shadow-sm">
          <img
            class="rounded-top"
            src="{{ cab.foto_set.first.foto.url }}"
            alt=""
          />
          <div class="card-body">
            <p class="card-text">{{ cab.descripcion }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button
                  type="button"
                  onclick="location.href='{% url 'inquilinos:cab-detail' cab.slug %}'"
                  class="btn btn-sm btn-outline-secondary"
                >
                  Ver cabaña
                  
                </button>
              </div>
              <small class="text-muted">{{ cab.nombre }}</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock content %}

