{# 403 #} {# hay que arreglar el path #}
{% extends "inquilinos/base.html" %}
    {% block content %}
        <br/>
        <div class="col-md-3 offset-md-4 p-4 d-flex justify-content-center border rounded bg-white">
            <div class="container">
                <div class="row">
                    <p>
                        <center>{{ exception }}</center>
                    </p>
                </div>
                {% if '/inquilinos/cab/' in request.path and 'reservar' in request.path %}
                <div class="row">
                    <button class="btn btn-outline-primary btn-sm px-5"
                            onclick="location.href='{% url 'inquilinos:huesped-registro' %}'"
                            type="button">
                        Completar datos personales.
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    {% endblock %}
