{% extends 'inquilinos/base.html' %}{% block content %}{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'inquilinos/icons/bootstrap-icons/font/bootstrap-icons.css'%}">
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"></script>
{% load crispy_forms_tags %}
{% csrf_token %}
<br>
<div class="col-md-3 offset-md-4 p-5 d-flex justify-content-center border rounded bg-white" id="divreserva">
{% comment %} <div class="offset-md-4 flex justify-content-center border rounded bg-white"></div> {% endcomment %}
{% crispy form %}
{% comment %} <i class="bi bi-calendar-date"></i> {% endcomment %}
</div>
<script>
    var today = "{{ today }}";
    var allowedDates = {{allowed_dates|safe}};
    var disabledDates = {{disabled_dates|safe}}
    const picker = new Litepicker({
        element: document.getElementById('litepicker'),
        singleMode: false,
        tooltipText: {
          one: 'noche',
          other: 'noches'
        },
        tooltipNumber: (totalDays) => {
          return totalDays - 1;},
        lockDays: disabledDates,
        format : "DD/MM/YYYY",
        lockDaysFormat : "DD/MM/YYYY",
        minDate : today,
        numberOfMonths : 2,
        numberOfColumns: 2,
        lang : 'es-AR',
        minDays : 2,
        disallowLockDaysInRange: true,
        lockDaysFilter: (date1, date2, pickedDates) => {
            if (!date2) {
                return !allowedDates.includes(date1.format('DD/MM/YYYY'));
            }
            while (date1.toJSDate() < date2.toJSDate()) {
                const day = date1.getDay();
                isProhibited = !allowedDates.includes(date1.format('DD/MM/YYYY'));
                if (isProhibited) { return true; }
                date1.add(1, 'day');
              }
          
              return false;
        },
        resetButton: true,
        setup: (picker) => {
          picker.on('selected', (date1, date2) => {
            // console.log();
            let costoPorNoche = parseFloat({{ costoPorNoche }}) ;
            let precioFinal = (date2.diff(date1, 'days')) * costoPorNoche;
            updatePrecio(precioFinal);
          });
        },
      });

      function updatePrecio(precioFinal) {
        console.log(precioFinal);
        var ptag = document.getElementById('ptag');
        ptag.innerHTML = ''
        var text = document.createTextNode("Precio final: $" + precioFinal);
        ptag.appendChild(text);
      };

</script>
{% endblock content %} 
