{% extends "inquilinos/base.html" %}
{% block content %}
  <br/>
  <div class="col-md-8 offset-md-2 p-5 d-flex justify-content-center border rounded bg-white"
       id="divreserva">
    <div class="container">
      <div class="row">
        <h1>Mis Reservas</h1>
      </div>
      {% if reserva_list %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cabaña</th>
              <th scope="col">Desde</th>
              <th scope="col">Hasta</th>
              <th scope="col">Estado</th>
              <th scope="col">Detalle</th>
            </tr>
          </thead>
          <tbody>
            {% for reserva in reserva_list %}
              <tr>
                <th scope="row">{{ reserva.pk }}</th>
                <td>
                  <a class="link-secondary"
                     style="text-decoration: none;"
                     href="{% url 'inquilinos:cab-detail' reserva.cab.slug %}">{{ reserva.cab }}</a>
                </td>
                <td>{{ reserva.fechaDesde }}</td>
                <td>{{ reserva.fechaHasta }}</td>
                <td>{{ reserva.get_estado.nombre }}</td>
                <td>
                  <a href="{% url 'inquilinos:reserva-detail' reserva.pk %}">Ir al detalle</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>Todavía no registraste ninguna reserva.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
