{% extends 'inquilinos/base.html' %}
{% block content %}
    {% load static %}
    {% load crispy_forms_tags %}
    <br/>
    <div class="col-md-4 offset-md-4 p-5 d-flex justify-content-center border rounded bg-white"
         id="divreserva">
        <div class="container">
            <div class="row">
                <h1>Reserva #{{ reserva.pk }}</h1>
            </div>
            <div class="row">
                <h2>{{ reserva.cab }}</h2>
            </div>
            <div class="row">
                <ul>
                    <li>
                        <strong>Fecha de ingreso:</strong> {{ reserva.fechaDesde }}
                    </li>
                    <li>
                        <strong>Fecha de salida:</strong> {{ reserva.fechaHasta }}
                    </li>
                    <li>
                        <strong>Cantidad de adultos:</strong> {{ reserva.cantAdultos }}
                    </li>
                    {% if reserva.cantMenores > 0 %}
                        <li>
                            <strong>Cantidad de menores:</strong> {{ reserva.cantMenores }}
                        </li>
                    {% endif %}
                    <li>
                        <strong>Precio final:</strong> {{ reserva.get_precio_final }}
                    </li>
                    <li>
                        <strong>Reserva realizada por:</strong>
                        <br/>
                        {{ reserva.huesped }} el {{ reserva.fechaReserva }}
                    </li>
                    <br/>
                    {% if estadoreserva == "Pte Confirmacion"  %}
                        <li>
                            <mark><strong>La reserva quedara pendiente hasta que sea confirmada o rechazada.</strong></mark>
                        </li>
                        <hr/>
                        <li>
                            <form action="" method="post">
                                {% csrf_token %}
                                <input class="btn btn-secondary" type="submit" value="Cancelar reserva"/>
                            </form>
                        </li>
                    {% elif reserva.se_puede_calificar %}
                        <li>
                            <button class="btn btn-success"
                                    type="button"
                                    onclick="location.href='{% url 'inquilinos:crear-comentario' reserva.pk %}'">
                                Dejar un comentario
                            </button>
                        </li>
                    {% elif reserva.tiene_comentario %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <p class="card-text">{{ reserva.comentario.comentario }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">{{ reserva.comentario.huesped }}</small>
                                        <small class="text-muted star-place-holder">{{ reserva.comentario.calificacion }}/5</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <li>
                            <strong>Estado:</strong>{{ estadoreserva }}
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
