{% extends "inquilinos/base.html" %}

{% block content %}
<br>
<div class="col-md-3 offset-md-4 p-5 d-flex justify-content-center border rounded bg-white" id="divreserva">

    <form action="" method="post">
        {% csrf_token %}
        <div class="form-outline form-white mb-4">
            <span class="text-center"><h3>Te olvidaste la contraseña?</h3></span>
            <p>Obtené una nueva en tres simples pasos. Esto ayudará a manetener segura tu contraseña!</p>
            <ol>
                <li>Ingresá tu dirección de correo abajo.</li>
                <li>Nuestro sistema te enviará un link temporal.</li>
                <li>Usa el link para restaurar tu contraseña.</li>
            </ol>
            <input 
                type="mail" 
                id="typeEmailX" 
                name="email" 
                class="form-control form-control-lg"
                value = "{% if form.email.value %} {{ form.email.value }}{% endif %}"
            />
        </div>
        {% if form.email.errors %}
            <strong> <span class="text-danger">{{ form.email.errors }}</span><strong>
        {% endif %}
        <center><input type="submit" class="btn btn-outline-primary btn-lg px-5" value="Envíenme el correo!"></center>
    </form>
    </div>
{% endblock %}
